.heading{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 50px 60px;
}

#team-logo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.team-logo{
  padding: 10px 20px;
  transition: all ease-in-out 0.1s;
}

.team-logo:hover {
  cursor: pointer;
  opacity: 0.8;
  scale: 1.1;
}


.modal-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  z-index: 1000; 
}

.modal-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

.close-modal {
  z-index: 1003;
  grid-column: span 12;
  display: block;
  background: #888;
  color: #f1f1f2;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  width: 50px;
  padding: 10px;
  margin: 5px 0px 5px auto;
}
.close-modal:hover{
  cursor: pointer;
  background-color: #777;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  z-index: 1000;
}

.loading-screen::before {
  /* content: "Loading..."; */
  animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.lines-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  padding: 5px 20px 10px;;
  background-color: white;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 580px;
  width: 90%;
  max-height: 850px;
  overflow-y: auto;
  z-index: 1001;
}

.player-wrapper {
  padding: 10px 20px;
  border: 1px solid #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0px 10px;
}

.player-wrapper:hover {
  opacity:.9
}

.grid-third {
  grid-column: span 4;
}

.grid-half {
  grid-column: span 6;
}

.grid-full {
  grid-column: span 12;
}

.grid-header{
  background: darkblue;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  font-weight: 600;
  margin: 20px 0px 10px;

}

.grid-header:first-of-type {
  margin-top: 0px;
}

.grid-subheader {
  text-align: center;
}